In [7]:
import pandas as pd

In [20]:
df = pd.read_excel('airbnb.xlsx')

In [21]:
df.dtypes

Host Id                                int64
Host Since                    datetime64[ns]
Name                                  object
Neighbourhood                         object
Property Type                         object
Review Scores Rating (bin)           float64
Room Type                             object
Zipcode                              float64
Beds                                 float64
Number of Records                      int64
Number Of Reviews                      int64
Price                                  int64
Review Scores Rating                 float64
dtype: object

In [23]:
df['Zipcode'].unique()

array([11249., 11206., 10032., 10024., 10036., 11222., 10004., 11201.,
       10009., 11221., 10026., 11223., 10018., 11216., 10025., 11106.,
       10001., 10013., 11365., 11220., 11373., 10002., 10038., 10027.,
       11217., 11238., 11213., 10030., 11368., 10031., 11105., 10003.,
       10016., 10128., 10005., 11215., 10010., 10011., 11211., 10023.,
       10014., 11218., 10035., 10019., 11358., 11237., 11231., 11372.,
       10451., 11205.,    nan, 10304., 10029., 10012., 11225., 10028.,
       10281., 11233., 10039., 10033., 11434., 10280., 10075., 10021.,
       10065., 11210., 11226., 11374., 11101., 11377., 11207., 11230.,
       11693., 11102., 10007., 11692., 11209., 11228., 10069., 11224.,
       11420., 11385., 11435., 11375., 10466., 10473., 10461., 11355.,
       10022., 10017., 10454., 10040., 10044., 11234., 10034., 11103.,
       10006., 11212., 10301., 10452., 10472., 11379., 11232., 10037.,
       10463., 10475., 11235., 10468., 11378., 11204., 10455., 11208.,
       11109., 11427., 11104., 10470., 10458., 10460., 10469., 11236.,
       10471., 11370., 10305., 11418., 11412., 11203., 11214., 10456.,
       11219., 11354., 11429., 10307., 11433., 10303., 10465., 11694.,
       11416., 10080., 10453., 11421., 11361., 11432., 10314., 11415.,
       11691., 10020., 10162., 11411., 11369., 11428., 11367., 10467.,
       11360., 10312.,  7030., 11229., 11366., 10282., 11356., 10306.,
       10462., 10464., 10459., 11239.,  7712., 10302., 11436., 10286.,
       11413., 11417., 10457., 10704., 11419., 99135., 11422., 10308.,
       11357., 10309., 11364., 11423., 10112., 10119., 10310.,  7105.,
       11414., 10474., 94103., 11426.,  1003.])

In [24]:
df['Zipcode'].fillna(0,inplace=True)

In [45]:
df['Beds'].fillna(1,inplace=True)

In [32]:
df['Zipcode']= df['Zipcode'].astype('int64')

In [33]:
df['Beds'] = df['Beds'].astype('int64')

In [34]:
df.dtypes

Host Id                                int64
Host Since                    datetime64[ns]
Name                                  object
Neighbourhood                         object
Property Type                         object
Review Scores Rating (bin)           float64
Room Type                             object
Zipcode                                int64
Beds                                   int64
Number of Records                      int64
Number Of Reviews                      int64
Price                                  int64
Review Scores Rating                 float64
dtype: object

In [39]:
df[pd.isna(df['Property Type'])]

,Host Id,Host Since,Name,Neighbourhood,Property Type,Review Scores Rating (bin),Room Type,Zipcode,Beds,Number of Records,Number Of Reviews,Price,Review Scores Rating
433,58979,2009-12-01,Bright and Cheery Chelsea Studio,Manhattan,NaN,95.0,Private room,10011,1,1,28,165,98.0
7893,2837739,2012-07-05,Hip & Spacious 1BD in the LES,Manhattan,NaN,85.0,Entire home/apt,10002,1,1,24,150,89.0
20551,16915992,2014-06-17,Entire home/apt in New York,Manhattan,NaN,NaN,Entire home/apt,10002,2,1,0,120,NaN

In [40]:
df['Property Type'].unique()

array(['Apartment', 'House', 'Other', 'Bed & Breakfast', 'Loft',
       'Condominium', 'Townhouse', nan, 'Dorm', 'Boat', 'Cabin', 'Villa',
       'Bungalow', 'Camper/RV', 'Treehouse', 'Tent', 'Hut', 'Lighthouse',
       'Chalet', 'Castle'], dtype=object)

In [41]:
df['Property Type'].fillna('Other',inplace=True)

In [42]:
df[pd.isna(df['Property Type'])]

Empty DataFrame
Columns: [Host Id, Host Since, Name, Neighbourhood , Property Type, Review Scores Rating (bin), Room Type, Zipcode, Beds, Number of Records, Number Of Reviews, Price, Review Scores Rating]
Index: []

In [47]:
len(df)
df['City'] = 'New York'

In [48]:
df.to_excel('airbnb_cleaned.xlsx')